<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bf671">  <td>22/09/28 10:31:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EjemploTestNG.beforeClass()[pri:0, instance:EjemploTestNG@5cee5251]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@116237769</td>   <td></td> </tr>
<tr bgcolor="8bf671">  <td>22/09/28 10:31:44</td>   <td>12804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EjemploTestNG.pruebaInicialTestNG(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:EjemploTestNG@5cee5251]">pruebaInicialTestNG</td> 
  <td>main@116237769</td>   <td></td> </tr>
<tr bgcolor="8bf671">  <td>22/09/28 10:31:44</td>   <td>12936</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EjemploTestNG.afetrClass()[pri:0, instance:EjemploTestNG@5cee5251]">&lt;&lt;afetrClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@116237769</td>   <td></td> </tr>
</table>
