<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eca565">  <td>22/10/03 08:58:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EjemploTestNG.DemoQAAlerta(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:3, instance:EjemploTestNG@6ef888f6]">DemoQAAlerta</td> 
  <td>main@369049246</td>   <td></td> </tr>
<tr bgcolor="eca565">  <td>22/10/03 08:57:48</td>   <td>-60430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EjemploTestNG.DemoWithQA(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:EjemploTestNG@6ef888f6]">DemoWithQA</td> 
  <td>main@369049246</td>   <td></td> </tr>
<tr bgcolor="eca565">  <td>22/10/03 08:56:44</td>   <td>-123742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EjemploTestNG.Mercurytours(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:EjemploTestNG@6ef888f6]">Mercurytours</td> 
  <td>main@369049246</td>   <td></td> </tr>
<tr bgcolor="eca565">  <td>22/10/03 09:01:18</td>   <td>150073</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EjemploTestNG.afetrClass()[pri:0, instance:EjemploTestNG@6ef888f6]">&lt;&lt;afetrClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@369049246</td>   <td></td> </tr>
<tr bgcolor="eca565">  <td>22/10/03 08:56:31</td>   <td>-136795</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EjemploTestNG.beforeClass(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:EjemploTestNG@6ef888f6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@369049246</td>   <td></td> </tr>
<tr bgcolor="eca565">  <td>22/10/03 08:59:38</td>   <td>49886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EjemploTestNG.pruebaInicialTestNG(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:EjemploTestNG@6ef888f6]">pruebaInicialTestNG</td> 
  <td>main@369049246</td>   <td></td> </tr>
<tr bgcolor="eca565">  <td>22/10/03 09:00:46</td>   <td>118065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EjemploTestNG.pruebaInicialTestNGRegistro(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:5, instance:EjemploTestNG@6ef888f6]">pruebaInicialTestNGRegistro</td> 
  <td>main@369049246</td>   <td></td> </tr>
</table>
