<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="68efa0">  <td>22/09/27 16:51:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EjemploTestNG.afterClass()[pri:0, instance:com.testNG.EjemploTestNG@6ac13091]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="68efa0">  <td>22/09/27 16:50:38</td>   <td>-30809</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EjemploTestNG.beforeClass()[pri:0, instance:com.testNG.EjemploTestNG@6ac13091]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="68efa0">  <td>22/09/27 16:50:40</td>   <td>-28521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EjemploTestNG.pruebaInicialTestNG(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.testNG.EjemploTestNG@6ac13091]">pruebaInicialTestNG</td> 
  <td>main@640070680</td>   <td></td> </tr>
</table>
