<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94c28c">  <td>22/10/02 20:47:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EjemploTestNG.beforeClass(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:EjemploTestNG@2f7c2f4f]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@71399214</td>   <td></td> </tr>
<tr bgcolor="94c28c">  <td>22/10/02 20:47:31</td>   <td>12650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EjemploTestNG.Mercurytours(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:EjemploTestNG@2f7c2f4f]">Mercurytours</td> 
  <td>main@71399214</td>   <td></td> </tr>
<tr bgcolor="94c28c">  <td>22/10/02 20:47:42</td>   <td>23655</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EjemploTestNG.afetrClass()[pri:0, instance:EjemploTestNG@2f7c2f4f]">&lt;&lt;afetrClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@71399214</td>   <td></td> </tr>
</table>
